{% extends "base.html.twig" %}

{% block extendedBody %}

  {% for post in posts %}

          <h2><a href="{{ path('post_by_id', {'postId':post.id}) }}">{{ post.title|e }}</a></h2>
          <p>{{ post.content|e }}</p>
          <br>

  {% endfor %}

  <a class="btn btn-lg btn-primary" href="/posts/{{previous}}" role="button"> &laquo; Precedent</a>
  <a class="btn btn-lg btn-primary"  role="button">{{page}}</a>
  <a class="btn btn-lg btn-primary" href="/posts/{{next}}" role="button">Suivant &raquo;</a>

{% endblock %}
